@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: url("img/library-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .container .header {
  border: solid 2px #fff;
  background-color: #262626;
  padding: 2px;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
}
body .container .header h2 {
  color: #fff;
  font-family: Roboto, "sans-serif";
  font-size: 2em;
}
body .container .main-content {
  width: 100%;
  height: 300px;
  background-color: #fff;
  padding: 50px 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px;
}
body .container .main-content .text-aria {
  line-height: 2.5em;
}
body .container .main-content .text-aria .quote {
  font-size: 2em;
  font-weight: regular;
}
body .container .person {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: red;
  margin-top: 1.5em;
}
body .container .button-area {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}
body .container .button-area button {
  border: none;
  font-size: 1.5em;
  background-color: #262626;
  color: #fff;
  border-radius: 5px;
  width: 6em;
  height: 2em;
  cursor: pointer;
}
body .container .button-area button:active {
  background-color: lightblue;
}
@media only screen and (max-device-width: 480px) {
  body .container .header {
    width: 100%;
    margin: 12px;
    border-radius: 15px;
    padding: 0;
  }
  body .container .header h2 {
    font-size: 1.5em;
  }
  body .container .main-content {
    height: 210px;
  }
  body .container .main-content .text-aria {
    line-height: 1.3em;
  }
  body .container .main-content .text-aria .quote {
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: 0;
  }
  body .container .person {
    font-size: 1em;
    letter-spacing: 2px;
  }
  body .container .button-area {
    margin-top: 1em;
  }
  body .container .button-area button {
    font-size: 1.1em;
  }
}

/*   only screen and (max-device-width: 360px)
 *
 *      .container
 *          .header
 *              width: 80%
 *              margin-top: .5em
 *              border-radius: 15px
 *              h2
 *                  font-size: 1.1em
 *          .main-content
 *              height: 180px
 *              padding-top: 1em
 *
 *              .text-aria
 *                  line-height: 1.2em
 *
 *                  .quote
 *                      font-size: 18px
 *                      letter-spacing: 1px
 *          .person
 *              font-size: 1em
 *              letter-spacing: 2px
 *              margin-top: 0.5em
 *          .button-area
 *              margin-top: .8em
 *
 *              button
 *                  font-size: .8em
 *
 *   only screen and (max-device-width: 768px)
 *
 *      .container
 *          .header
 *              width: 65%
 *              margin-top: .5em
 *              border-radius: 15px
 *              h2
 *                  font-size: 1.5em
 *          .main-content
 *              height: 180px
 *              padding-top: 2em
 *
 *              .text-aria
 *                  line-height: 1.2em
 *
 *                  .quote
 *                      font-size: 25px
 *                      letter-spacing: 1px
 *                      line-height: 1.3em
 *          .person
 *              font-size: 1.3em
 *              letter-spacing: 2px
 *              margin-top: 0.5em
 *          .button-area
 *              margin-top: .8em
 *
 *              button
 *                  font-size: 1.1em
 *
 *   only screen and (max-device-width: 992px)
 *
 *       .container
 *          .header
 *              width: 50%
 *              margin-top: .5em
 *              border-radius: 15px
 *              h2
 *                  font-size: 2em
 *          .main-content
 *              height: 300px
 *
 *              .text-aria
 *                  line-height: 1.9em
 *
 *                  .quote
 *                      font-size: 2em
 *                      letter-spacing: 2px
 *                      margin-top: 0
 *          .person
 *              font-size: 2em
 *              letter-spacing: 2px
 *          .button-area
 *              margin-top: 1.5em
 *
 *              button
 *                  font-size: 1.5em*//*# sourceMappingURL=styles.css.map */